/* Add here all your CSS customizations */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

* {
	font-family: nanumgothiccoding, Arial;
	word-spacing: -1px;
}

.nav {
	width: 100%;
}

.contents-position {
	margin-top: 5%;
}

.modal-title {
	font-weight: bolder;
	font-size: 23px;
}

#carousel-example-generic {
	border: 2px solid #13889a;
}

.tab-pane > p {
	font-size: 15px;
}

.tab-content {
	height: 325px;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-dialog {
	width: 90%;
	height: 20%;
	margin: 0%;
	position: absolute;
	top: 5%;
	left: 5%;
}

.btn-primary {
	background-color: #ff9f4a;
	border-color: #fd8419;
}