/* Add here all your CSS customizations */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

* {
	font-family: nanumgothiccoding, Arial;
	word-spacing: -1px;
}

.nav {
	background-color: #f1f1f1;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #c8c8c8;
}

.nav p {
	font-size: 25px;
	font-weight: bold;
	color: #ff6666;
	padding-top: 7px;
}

.contents-position {
	margin-top: 5%;
}

#main-name h2 {
	margin-left: 2%;
	color: #ff9f4a;
}

#carousel-example-generic {
	border: 1px solid #ff9f4a;
}

.tab-pane > p {
	font-size: 15px;
}

.tab-content {
	height: 325px;
	overflow-x: hidden;
	overflow-y: auto;
}