<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>List Page</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<style type="text/css">
	body {-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
	html {height: 100%;width: 100%;overflow-x: hidden; overflow-y: hidden;}	
	.overlaybox {position:relative;width:360px;height:350px;background:url('http://dna.daum.net/include/apis/maps/examples/customoverlay/box_movie.png') no-repeat;padding:15px 10px;}
	.overlaybox div, ul {overflow:hidden;margin:0;padding:0;}
	.overlaybox li {list-style: none;}
	.overlaybox .boxtitle {color:#fff;font-size:16px;font-weight:bold;background: url('http://dna.daum.net/include/apis/maps/examples/customoverlay/arrow_white.png') no-repeat right 120px center;margin-bottom:8px;}
	.overlaybox .first {position:relative;width:247px;height:136px;background: url('http://i.imgur.com/tFnCAVu.jpg') no-repeat;margin-bottom:8px;}
	.first .text {color:#fff;font-weight:bold;}
	.first .triangle {position:absolute;width:48px;height:48px;top:0;left:0;background: url('http://dna.daum.net/include/apis/maps/examples/customoverlay/triangle.png') no-repeat; padding:6px;font-size:18px;}
	.first .academytitle {position:absolute;width:100%;bottom:0;background:rgba(0,0,0,0.4);padding:7px 15px;font-size:14px;}
	.overlaybox ul {width:247px;}
	.overlaybox li {position:relative;margin-bottom:2px;background:#2b2d36;padding:5px 10px;color:#aaabaf;line-height: 1;}
	.overlaybox li span {display:inline-block;}
	.overlaybox li .number {font-size:16px;font-weight:bold;}
	.overlaybox li .title {font-size:13px;}
	.overlaybox ul .arrow {position:absolute;margin-top:8px;right:25px;width:5px;height:3px;background:url('http://dna.daum.net/include/apis/maps/examples/customoverlay/updown.png') no-repeat;} 
	.overlaybox li .up {background-position:0 -40px;}
	.overlaybox li .down {background-position:0 -60px;}
	.overlaybox li .count {position:absolute;margin-top:5px;right:15px;font-size:10px;}
	.overlaybox li:hover {color:#fff;background:#d24545;}
	.overlaybox li:hover .up {background-position:0 0px;}
	.overlaybox li:hover .down {background-position:0 -20px;}

	.customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
	.customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
	.customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
	.customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
	.customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
	</style>
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no">
	<script src="static/js/jquery.cookie.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/mapnlist2.css"/>	
	<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey=2044740d5825efd04511818f6489e32cbd0b5e71"></script>
	<script type="text/javascript">
	
	$(document).ready(function(){

		// academy data appending	
		var current_row = 6;
		var count = 0;

		$('#more_btn').click(function(){
			$.ajax({
				url : "/ajax/more_academy",
				dataType : "json",
				data : {
					current_row : current_row,
					count : count
				},
				success : function(resp){
					current_row += 6;
					more_academy_list = resp.data;
					for(var i in more_academy_list){
						academy = more_academy_list[i];
						string =
						"<li class='col-md-4 col-sm-6 col-xs-12 isotope-item websites' id='academy_"+ academy.id
						+ "'><div class='portfolio-item img-thumbnail'><a href='/academy/"+ academy.id 
						+ "' class='thumb-info'><img alt='' class='img-responsive' src='"+ academy.image_1
						+ "'><span class='thumb-info-title'><span class='thumb-info-inner'>"+ academy.academy_name
						+ "</span><span class='thumb-info-type'>"+ academy.category
						+ "</span></span><span class='thumb-info-action'><span title='Universal' class='thumb-info-action-icon'><i class='fa fa-star'></i></span></span></a></div></li>";
						$("#more_data").append(string);
					}
				},
				error : function(resp){
					console.log('invalid response!. Server error!');
				}	
			})
});

		// daum map API start
		var position = new daum.maps.LatLng(37.572950635570876,126.9768891413955);
		
		var map = new daum.maps.Map(document.getElementById('map'), {			
			center: position,
			level: 8,
			mapTypeId: daum.maps.MapTypeId.ROADMAP
		});

		var marker = new daum.maps.Marker({
			position: position
		});
		marker.setMap(map);

		// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
		var content = '<div class="customoverlay">' +
		'  <a href="http://chuizonebeta.appspot.com/" target="_blank">' +
		'    <span class="title">지역과 취미를 선택하세요</span>' +
		'  </a>' +
		'</div>';

		// 커스텀 오버레이를 생성합니다
		var customOverlay = new daum.maps.CustomOverlay({
			position: position,
			content: content,
			yAnchor: 1 
		});						
		customOverlay.setMap(map);	

		$("#searcher_1").change(function() {
			var gu_latlng = $(this).val().split(",");
			var lat = parseFloat(gu_latlng[0]);
			var lng = parseFloat(gu_latlng[1]);
			var gu_name = $(this).children("option:selected").text();

			var position = new daum.maps.LatLng(lat, lng);
			// console.log(position);			
			
			var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
			mapOption = {
					center: position, // 지도의 중심좌표
					level: 3 // 지도의 확대 레벨
				};

				var map = new daum.maps.Map(mapContainer, mapOption);

				var imageSrc = "http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
				var imageSize = new daum.maps.Size(24, 35);
				var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize);

				var marker = new daum.maps.Marker({
					position: position
				});
				marker.setMap(map);

				var points = [];

				$.ajax({
					url : "/mapdata",
					dataType : "json",
					success : function(resp){
						var location_data = resp.data;					
						for (var i = 0; i < location_data.length; i ++){		
							$.each(location_data, function(i){
								var academy_data = location_data[i];
								points.push({id: academy_data.id, title: academy_data.academy_name, latlng: academy_data.academy_latlng});
							});
							var academy_id = points[i].id;						
							var latlng = points[i].latlng;
							var split_latlng = latlng.split(",");
							var lat = split_latlng[0];
							var lng = split_latlng[1];
							var marker_title = points[i].title;
							var marker_point = new daum.maps.LatLng(lat, lng);

						// console.log(latlng, lat, lng, marker_title);

						var marker = new daum.maps.Marker({
							map: map,
							position: marker_point,
							image : markerImage
						});
						marker.setMap(map);

						// 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
						var content = "<div class='customoverlay'>" +
						"  <a href='http:/academy/"+ academy_id + "' target='_blank'>" +
						"    <span class='title'>" + 
						marker_title + 
						"</span>" +
						"  </a>" +
						"</div>";

						// 커스텀 오버레이를 생성합니다
						var customOverlay = new daum.maps.CustomOverlay({
							position: marker_point,
							content: content,
							yAnchor: 0 
						});
						customOverlay.setMap(map);	

					};	 					


					// function addMarker(points){
					// 	for (var i = 0; i < points.length; i++){
					// 		var imageSrc = "http://i1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
					// 		var imageSize = new daum.maps.Size(24, 35);
					// 		var markerImage = new daum.maps.MarkerImage(imageSrc, imageSize);
					// 		var marker = new daum.maps.Marker({
					// 			map: map,
					// 			position: points[i].latlng,
					// 			image : markerImage
					// 		});				
					// 		marker.setMap(map);							
					// 		console.log(position);

					// 		var infowindow = new daum.maps.InfoWindow({
					// 			content: points[i].title
					// 		});
					// 		infowindow.open(map, marker);
					// 		console.log(content);	
					// 	};						
					// };

				},
				error : function(){
					console.log('invalid response!. Server error!');
				} 
			});
});
});	

</script>

<meta name="keywords" content="HTML5 Template" />
<meta name="description" content="Porto - Responsive HTML5 Template">
<meta name="author" content="okler.net">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Web Fonts  -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

<!-- Vendor CSS -->
<link rel="stylesheet" href="static/vendor/bootstrap/bootstrap.css">
<link rel="stylesheet" href="static/vendor/fontawesome/css/font-awesome.css">
<link rel="stylesheet" href="static/vendor/owlcarousel/owl.carousel.css" media="screen">
<link rel="stylesheet" href="static/vendor/owlcarousel/owl.theme.css" media="screen">
<link rel="stylesheet" href="static/vendor/magnific-popup/magnific-popup.css" media="screen">

<!-- Theme CSS -->
<link rel="stylesheet" href="static/css/theme.css">
<link rel="stylesheet" href="static/css/theme-elements.css">
<link rel="stylesheet" href="static/css/theme-blog.css">
<link rel="stylesheet" href="static/css/theme-shop.css">
<link rel="stylesheet" href="static/css/theme-animate.css">

<!-- Skin CSS -->
<link rel="stylesheet" href="static/css/skins/default.css">

<!-- Theme Custom CSS -->
<link rel="stylesheet" href="static/css/custom.css">

<!-- Head Libs -->
<script src="static/vendor/modernizr/modernizr.js"></script>

</head>
<body>
	<!-- navigator start -->
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-2 col-xs-2">
					<p>CHUIZONE</p>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-2">
					<!-- searcher start -->
					<div class="searcher">
						<div class="row">
							<form role="form" method="GET" action="{{url_for('mapnlist')}}">
								<div class="col-md-4 col-sm-4 col-xs-4">				
									<select class="form-control" name="searcher_1" id="searcher_1">
										<option name="all" value="37.497962,127.027610">지역을 선택하세요</option>
										<option name="all" value="37.497962,127.027610">전체</option>
										<option name="kng" value="37.497962,127.027610">강남구(강남역)</option>
										<option name="kdg" value="37.535896,127.132356">강동구(강동역)</option>
										<option name="kbg" value="37.626243,127.026108">강북구(미아역)</option>
										<option name="ksg" value="37.548253,126.863421">강서구(강서구청)</option>
										<option name="kag" value="37.481212,126.952903">관악구(서울대입구역)</option>
										<option name="kjg" value="37.537163,127.086116">광진구(구의역)</option>
										<option name="krg" value="37.503275,126.882218">구로구(구로역)</option>
										<option name="kcg" value="37.454757,126.900526">금천구(시흥사거리)</option>
										<option name="nwg" value="37.655637,127.060264">노원구(노원역)</option>
										<option name="dbg" value="37.648519,127.034618">도봉구(쌍문역)</option>
										<option name="ddmg" value="37.564218,127.007174">동대문구(역사문화공원역)</option>
										<option name="djg" value="37.513587,126.940881">동작구(노량진역)</option>
										<option name="mpg" value="37.556861,126.923750">마포구(홍대입구역)</option>
										<option name="sdmg" value="37.579256,126.936128">서대문구(서대문구청)</option>
										<option name="scg" value="37.493697,127.013710">서초구(교대역)</option>
										<option name="sdg" value="37.561172,127.035390">성동구(왕십리역)</option>
										<option name="sbg" value="37.592753,127.016468">성북구(성신여대)</option>
										<option name="spg" value="37.513299,127.100130">송파구(잠실역)</option>
										<option name="ycg" value="37.526175,126.864311">양천구(목동오거리)</option>
										<option name="ydpg" value="37.516426,126.906626">영등포구(영등포역)</option>
										<option name="ysg" value="37.529229,126.967933">용산구(신용산역)</option>
										<option name="epg" value="37.610953,126.929535">은평구(불광역)</option>
										<option name="jrg" value="37.570420,126.992134">종로구(종로3가)</option>
										<option name="jg" value="37.566040,126.982676">중구(을지로입구역)</option>
										<option name="jlg" value="37.596383,127.085549">중랑구(상봉역)</option>
									</select>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<select class="form-control" name="searcher_2" id="searcher_2">
										<option value="all">취미를 선택하세요</option>
										<option value="all">전체</option>
										<option value="craft">공예</option>
										<option value="art">미술</option>
										<option value="sport">스포츠</option>
										<option value="cooking">요리</option>
										<option value="music">음악</option>
										<option value="flower">플라워</option>
									</select>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-2">
									<input type="submit" class="btn btn-default" id="button" value="취미 찾기"></input>
								</div>								
							</form>
							<div class="col-md-1 col-sm-1 col-xs-2">
								<button class = "btn btn-default" id = "more_btn"> 더 보기 </button>
							</div>					
						</div>
					</div>
					<!-- searcher end -->
				</div>
			</div>
		</div>
	</div>
	<!-- navigator end -->
	<!-- right page start -->
	<div class="row">
		<div class="col-md-4 col-sm-6 col-xs-6">
			<div id="map"></div>
		</div>
		<!-- right page end -->

		<!-- left page start -->
		<div class="col-md-8 col-sm-6 col-xs-6">
			<!-- list start -->
			<div class="list">
				<div class="row">
					<ul class="portfolio-list sort-destination" data-sort-id="portfolio" id="more_data"></ul>
				</div>
				<div class="row">
					<ul class="portfolio-list sort-destination" data-sort-id="portfolio">
						{% if context.academy_list %}
						{% for academy in context.academy_list %}
						<li class="col-md-4 col-sm-6 col-xs-12 isotope-item websites" id="academy_{{academy.id}}">
							<div class="portfolio-item img-thumbnail">
								<a href="" class="thumb-info" data-toggle="modal" data-target="#myModal">
									<img alt="" class="img-responsive" src="{{academy.image_1}}">
									<span class="thumb-info-title">
										<span class="thumb-info-inner">{{ academy.academy_name }}</span>
										<span class="thumb-info-type">{{ academy.category }}</span>
									</span>
									<span class="thumb-info-action">
										<span title="Universal" class="thumb-info-action-icon"><i class="fa fa-star"></i></span>
									</span>
								</a>
							</div>
						</li>
						{% endfor %}
						{% else %}
						<div class="no-list">
							등록된 취미 학원이 없습니다. 
						</div>
						{% endif %}						
					</ul>
				</div>										

			</div>
		</div>
		<!-- list end -->
		<!-- left page end -->
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Academy Name</h4>
				</div>

				<div class="modal-body">
					<div class="container">
						<div class="row contents-position">
							<div class="col-md-6">
								<!-- carousel start -->
								<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
									<!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
										<li data-target="#carousel-example-generic" data-slide-to="1"></li>
										<li data-target="#carousel-example-generic" data-slide-to="2"></li>
										<li data-target="#carousel-example-generic" data-slide-to="3"></li>
										<li data-target="#carousel-example-generic" data-slide-to="4"></li>
									</ol>
									<!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<img src="http://i.imgur.com/q8uLEsF.jpg" alt="data-slide-to-0">
											<div class="carousel-caption">
											</div>
										</div>
										<div class="item">
											<img src="http://i.imgur.com/pAYrbTR.jpg" alt="data-slide-to-1">
											<div class="carousel-caption">
											</div>
										</div>
										<div class="item">
											<img src="http://i.imgur.com/q8uLEsF.jpg" alt="data-slide-to-2">
											<div class="carousel-caption">
											</div>
										</div>
										<div class="item">
											<img src="http://i.imgur.com/pAYrbTR.jpg" alt="data-slide-to-3">
											<div class="carousel-caption">
											</div>
										</div>
										<div class="item">
											<img src="http://i.imgur.com/WBgF0o4.jpg" alt="data-slide-to-4">
											<div class="carousel-caption">
											</div>
										</div>
									</div>
								</div>
								<!-- carousel end -->
							</div>


							<div class="col-md-6">
								<div class="tabs">
									<ul class="nav nav-tabs">
										<li class="active">
											<a href="#Welcome" data-toggle="tab"><i class="fa fa-star"></i>Welcome</a>
										</li>
										<li>
											<a href="#Academy" data-toggle="tab">Academy</a>
										</li>
										<li>
											<a href="#Teacher" data-toggle="tab">Teacher</a>
										</li>
										<li>
											<a href="#Interview" data-toggle="tab">Interview</a>
										</li>
										<li>
											<a href="#Curriculum" data-toggle="tab">Curriculum</a>
										</li>
										<li>
											<a href="#Etc" data-toggle="tab">Etc</a>
										</li>
									</ul>
									<div class="tab-content">
										<div id="Welcome" class="tab-pane active">
											<h2><strong>LHOOQ</strong></h2>
											<p>서울시 관악구 중앙동 874-13 3층</p>
											<p>"LHOOQ에서 여러분의 찰나의 여생, 행복의 숙주가 되길 빌어봅니다."</p>
										</div>

										<div id="Academy" class="tab-pane">
											<p>LHOOQ는 뒤샹의 작품 제목에서 슬쩍한 이름입니다.
												LHOOQ를 불어식 스펠링으로 읽으면 [엘라쇼오뀌] 라고 읽는다는데요.
												잘 아시는 상표인 I.N.V.U 가 I envy you와 발음이 비슷하듯이
												불어로 LHOOQ는 [Elle a Chaud au Cul]가 된다는군요.<br><br>

												[Elle a Chaud au Cul]를 영어로 풀어보면 she has a hot ass란 뜻이되죠.<br>
												'그녀는 뜨거운 엉덩이를 가졌다'<br><br>

												독창적인 발랄함을 우선하는 LHOOQ에서
												여러분의 찰나의 여생, 행복의 숙주가 되길 빌어봅니다.
											</p>
										</div>

										<div id="Teacher" class="tab-pane">
											<h3><strong>Mr.Park</strong></h3>
											<div class="col-md-5">
												<img src="http://i.imgur.com/EiyRNm4.jpg" alt="..." class="img-circle">
											</div>
											<div class="col-md-7">
												<p>서울대 서양화과를 졸업하고, 아주 잠시간 Russia, Saint Petersburg Academy에서 practical course를 수료했습니다.</p>
											</div>
										</div>

										<div id="Interview" class="tab-pane">
											<p>Interview</p>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
										</div>

										<div id="Curriculum" class="tab-pane">
											<p>Curriculum</p>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.</p>
										</div>

										<div id="Etc" class="tab-pane">
											<div class="row featured-boxes">
												<div class="col-md-3 col-sm-6">
													<div class="featured-box featured-box-primary">
														<div class="box-content">
															<i class="icon-featured fa fa-user"></i>
															<h4>Phone Number</h4>
															<p>010-1234-5678</p>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="featured-box featured-box-secundary">
														<div class="box-content">
															<i class="icon-featured fa fa-book"></i>
															<h4>Time</h4>
															<p>10AM - 10PM</p>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="featured-box featured-box-tertiary">
														<div class="box-content">
															<i class="icon-featured fa fa-trophy"></i>
															<h4>Fee</h4>
															<p>150,000/month</p>
														</div>
													</div>
												</div>
												<div class="col-md-3 col-sm-6">
													<div class="featured-box featured-box-quartenary">
														<div class="box-content">
															<i class="icon-featured fa fa-cogs"></i>
															<h4>Web Site</h4>
															<p>Click Me</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="modal-footer">
					<button type="button" class="btn btn-primary">Visit Homepage</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>					
				</div>
			</div>
		</div>
	</div>
</body>
</html>